.noticeDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    padding: 0px;
}

.skeletonWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 30px;
}