.sidebar {
  width: 240px;
  min-height: 100vh;
  background-color: var(--default-black);
  padding: 24px;
  box-sizing: border-box;
  text-align: left;
}

.sidebar-brand {
  padding: 8px 8px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

.sidebar-title {
  margin: 0;
  color: var(--white);
  font-size: var(--side-title);
  font-weight: var(--Bk);
  line-height: 1.2;
  padding-bottom: 10px;
}

.sidebar-subtitle {
  margin: var(--semi-mg);
  color: var(--error-gray);
  font-size: var(--sm-title);
  font-weight: 500;
}

.sidebar-nav {
  width: 100%;
}

.sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-item {
  margin-bottom: 12px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
  padding: 12px 10px;
  border-radius: 14px;
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
}

.sidebar-link:hover {
  background-color: #111827;
}

.sidebar-link.active {
  background-color: var(--default-orange);
  color: var(--white);
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
